@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{

    <a class="navbar-brand" href="/Home/Index">
        <img src="~/Content/theme/imgs/logo.jpg" height="30" alt="">
    </a>
    <a class="navbar-brand" href="/Home/Index">CTF-DEMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index"><i class="fa-solid fa-graduation-cap"></i> Learn</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/Challenge" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-flag"></i> Challenges</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Challenge">Solve Challenges</a>
                    <a class="dropdown-item" href="/Challenge/Create">Create Challenge</a>
                    <a class="dropdown-item" href="/Challenge/MyChallenge">My Chanllenges</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-users"></i> Scoreboad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-gauge"></i> Dashboad</a>
            </li>
            <li class="nav-item icon-bell">
                <a class="nav-link" href="#"><i class="fa-regular fa-bell"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-learn" href="#"> Learn++</a>
            </li>
            <li class="nav-item dropleft">
                <a href="/Manage/Index" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img height="50" width="50" src="~/Content/theme/imgs/avata-1.jpg" class="ml-2 navbar-avatar mr-2 dropdown-" alt="avatar"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Manage/Index"><i class="fa-solid fa-circle-user"></i> Profile</a>
                    <a class="dropdown-item" href="/Challenge/MyChallenge"><i class="fa-solid fa-flag"></i> My Chanllenges</a>
                    <a class="dropdown-item" href="/Manage/Index"><i class="fa-solid fa-gear"></i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Admin"><i class="fa-solid fa-user-gear"></i> Admin</a>
                    <div class="dropdown-divider"></div>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" onclick="return confirm('Bạn có chắc muốn đăng xuất?')"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    }
                </div>
            </li>
        </ul>
    </div>

    /*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Xin chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li>
                <div class="dropdown">
                    <button type="button" class="dropbtn"><i class="fa-sharp fa-solid fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Tạo khóa học mới", "Create", "Courses", routeValues: null, htmlAttributes: new { title = "Roll", @class = "nav-link" })
                        @Html.ActionLink("Khóa học đang theo", "Processing", "Courses", routeValues: null, htmlAttributes: new { title = "Roll", @class = "nav-link" })
                        @Html.ActionLink("Khóa học đang dạy", "Teaching", "Courses", routeValues: null, htmlAttributes: new { title = "Roll", @class = "nav-link" })
                        @Html.ActionLink("Following", "Follower", "Courses", routeValues: null, htmlAttributes: new { title = "Roll", @class = "nav-link" })
                        @Html.ActionLink("Trang Admin", "Index", "Dashboard", new { Area = "Admin" }, htmlAttributes: new { title = "Roll", @class = "nav-link" })
                        <a href="#">......</a>
                    </div>
                </div>
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()" onclick="return confirm('Bạn có chắc muốn đăng xuất?')">Log off</a></li>
        </ul>

    }*/
}
else
{
    <div>
        <a class="navbar-brand" href="/Home/Index">
            <img src="~/Content/theme/imgs/logo.jpg" height="30" alt="">
        </a>
        <a class="navbar-brand" href="/Home/Index">CTF-DEMO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}


<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 10px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .navbar-inverse {
        background-color: #d41d50;
        border-color: #fbf6f6;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }
</style>
